body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #f0f0f0;
  width: 325px;
  padding: .5em;
}

h1 {
  margin: 0 0 .5em 0;
  text-align: center;
}

h1 img {
  vertical-align: bottom;
  margin-right: .25em;
}

.group {
  border-top: 2px solid #f2b600;
  padding: 1em 0;
}

.group h2 {
  margin-top: 0;
}

/* Manage groups that should show only when we are on a familysearch page */

.group.familysearch {
  display: none;
}

body.familysearch .group.familysearch {
  display: block;
}

.help {
  text-align: right;
  font-size: small;
}

a, a:visited, a:active {
  color: #333;
}

a:hover {
  color: #f2b600;
}
